<a href="https://colab.research.google.com/github/anoushazaidii/Data-Science-Analytics/blob/main/Dataframes%26mean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = { 'X': [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5], 'Y': [8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.82, 5.68] }
df1 = pd.DataFrame(data)
data = { 'X': [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5], 'Y': [9.14, 8.14, 8.74, 8.77, 9.26, 8.1, 6.13, 3.1, 9.13, 7.26, 4.74] }
df2 = pd.DataFrame(data)
data = { 'X': [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5], 'Y': [7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73] }
df3 = pd.DataFrame(data)
data = { 'X': [8, 8, 8, 8, 8, 8, 8, 19, 8, 8, 8], 'Y': [6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.5, 5.56, 7.91, 6.89] }
df4 = pd.DataFrame(data)
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
print("\nDataFrame 3:")
print(df3)
print("\nDataFrame 4:")
print(df4)
print("standard deviation1:",df1.std())
print("standard deviation2:",df2.std())
print("standard deviation3:",df3.std())
print("standard deviation4:",df4.std())
print("mean1:",df1.mean())
print("mean2:",df2.mean())
print("mean3:",df3.mean())
print("mean4:",df4.mean())
df1.dropna()
df2.dropna()
df3.dropna()
df4.dropna()

DataFrame 1:
     X      Y
0   10   8.04
1    8   6.95
2   13   7.58
3    9   8.81
4   11   8.33
5   14   9.96
6    6   7.24
7    4   4.26
8   12  10.84
9    7   4.82
10   5   5.68

DataFrame 2:
     X     Y
0   10  9.14
1    8  8.14
2   13  8.74
3    9  8.77
4   11  9.26
5   14  8.10
6    6  6.13
7    4  3.10
8   12  9.13
9    7  7.26
10   5  4.74

DataFrame 3:
     X      Y
0   10   7.46
1    8   6.77
2   13  12.74
3    9   7.11
4   11   7.81
5   14   8.84
6    6   6.08
7    4   5.39
8   12   8.15
9    7   6.42
10   5   5.73

DataFrame 4:
     X      Y
0    8   6.58
1    8   5.76
2    8   7.71
3    8   8.84
4    8   8.47
5    8   7.04
6    8   5.25
7   19  12.50
8    8   5.56
9    8   7.91
10   8   6.89
standard deviation1: X    3.316625
Y    2.031568
dtype: float64
standard deviation2: X    3.316625
Y    2.031657
dtype: float64
standard deviation3: X    3.316625
Y    2.030424
dtype: float64
standard deviation4: X    3.316625
Y    2.030579
dtype: float64
mean1: X    9.000000
Y    7.500909
dtype: float64
mean2: X    9.000000
Y    7.500909
dtype: float64
mean3: X    9.0
Y    7.5
dtype: float64
mean4: X    9.000000
Y    7.500909
dtype: float64