<a href="https://colab.research.google.com/github/anoushazaidii/Data-Science-Analytics/blob/main/Lab_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASK1

import pandas as pd

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

print("Series created by taking name of planets as index and distance as data")
dist_planets =pd.Series(data=distance_from_sun,index=planets)
print(dist_planets)

print("Divided by speed of light")
speed_of_light = 18
time_light = dist_planets / speed_of_light
print(time_light)

print("only those planets for which sunlight takes less han 40 minutes")
close_planets =time_light[time_light<40]
print(close_planets)

Series created by taking name of planets as index and distance as data
Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64
Divided by speed of light
Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64
only those planets for which sunlight takes less han 40 minutes
Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])

user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])

dat ={
'Author': authors,
    'Book Title': books,
    'User 1': user_1,
    'User 2': user_2,
    'User 3': user_3,
    'User 4': user_4
}

book_ratings =pd.DataFrame(dat)
print(book_ratings)

book_ratings.fillna(book_ratings.mean(),inplace=True)
print(book_ratings.round(1))

best_rated=book_ratings[(book_ratings==5).any(axis = 1)]['Book Title'].values
print(best_rated)

                Author           Book Title  User 1  User 2  User 3  User 4
0      Charles Dickens   Great Expectations     3.2     5.0     2.0     4.0
1       John Steinbeck      Of Mice and Men     NaN     1.3     2.3     3.5
2  William Shakespeare     Romeo and Juliet     2.5     4.0     NaN     4.0
3          H. G. Wells     The Time Machine     NaN     3.8     4.0     5.0
4        Lewis Carroll  Alice in Wonderland     NaN     NaN     NaN     4.2
                Author           Book Title  User 1  User 2  User 3  User 4
0      Charles Dickens   Great Expectations     3.2     5.0     2.0     4.0
1       John Steinbeck      Of Mice and Men     2.8     1.3     2.3     3.5
2  William Shakespeare     Romeo and Juliet     2.5     4.0     2.8     4.0
3          H. G. Wells     The Time Machine     2.8     3.8     4.0     5.0
4        Lewis Carroll  Alice in Wonderland     2.8     3.5     2.8     4.2
['Great Expectations' 'The Time Machine']

<ipython-input-4-13d15708bc43>:24: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  book_ratings.fillna(book_ratings.mean(),inplace=True)